// Fabricare
// Copyright (c) 2021-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2021-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/Fabricare/Application.rh>
#include <XYO/Fabricare/Copyright.rh>
#include <XYO/Fabricare/Version.rh>

1  ICON "Application.ico"

XYO_APPLICATION_VERSION_INFO(XYO_FABRICARE,"fabricare.exe","Fabricare - Build system")
XYO_APPLICATION_MANIFEST("Application.manifest")
